<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
>
    <testsuites>
        <testsuite name="pms-nz/object-translation-bundle Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="KERNEL_CLASS" value="PmsNz\ObjectTranslationBundle\Tests\TestKernel"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0&amp;max[direct]=0&amp;quiet[]=indirect&amp;quiet[]=other"/>
        <ini name="error_reporting" value="-1" />
    </php>

    <coverage>
        <include>
            <directory>./src</directory>
        </include>
        <exclude>
            <directory>./src/Resources</directory>
            <directory>./src/DependencyInjection</directory>
        </exclude>
    </coverage>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>

</phpunit>
